<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Edit Schedule Setting</h1>

        <div class="header-actions">
            <a [routerLink]="['/', URLS.salesRportSetting]" mat-stroked-button color="primary">Cancel</a>
            <button mat-flat-button color="primary" [disabled]="loading || !editSettingForm.valid"
                (click)="onSubmit()">Save</button>
        </div>
    </div>
    <div class="page-container">

        <form [formGroup]="editSettingForm">
            <div fxLayout="row">
                <mat-card fxFlex="0 1 100%">
                    <div fxLayout="row">


                        <div fxFlex="0 1 50%">
                            <mat-form-field appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput name="title" formControlName="title">
                            </mat-form-field>
                        </div>
                        <div class="color-box" fxFlex="0 1 50%">
                            <mat-checkbox formControlName="is_active">Active</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="color-box" fxFlex="0 1 50%">
                            <mat-form-field appearance="outline">
                                <mat-label>Report type</mat-label>
                                <mat-select formControlName="report_type">
                                    <mat-option value="sales_report">Sales report</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="0 1 50%">
                            <ng-select [items]="fieldsArray" bindLabel="title" formControlName="fields"
                                placeholder="Columns" multiple="true" [compareWith]="compareData"
                                [trackByFn]="trackByFn">
                                <ng-template ng-label-tmp let-item="item">
                                    <div class="customer-dropdown-label">
                                        <span class="customer-name">{{item.title}}
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                    <div class="customer-dropdown-label">
                                        <span class="customer-name">{{item.title}}
                                        </span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>


                    </div>

                    <div fxLayout="row">
                        <div fxFlex="0 1 50%">
                            <mat-form-field appearance="outline">
                                <mat-label>Schedule Type</mat-label>
                                <mat-select formControlName="schedule_type">
                                    <mat-option value="daily">Daily</mat-option>
                                    <mat-option value="weekly">Weekly</mat-option>
                                    <mat-option value="monthly">Monthly</mat-option>
                                    <mat-option value="yearly">Annually</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="0 1 50%">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput name="email" formControlName="email" type="email">
                                <mat-error *ngIf="editSettingForm.get('email').hasError('required')">Please enter an
                                    email for your account.</mat-error>
                            </mat-form-field>
                        </div>


                    </div>

                    <div class="space" fxLayout="row">
                        <div fxFlex="0 1 50%">
                            <div class="custom-labels">
                                <tags-input label="CC" [showRemove]="true" placeholder="Add CC email"
                                    [(value)]="cc_emails">
                                </tags-input>
                            </div>
                        </div>
                        <div *ngIf="editSettingForm.get('schedule_type').value == 'daily'" class="color-box"
                            fxFlex="0 1 50%">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Time</mat-label>
                                <input matInput type="time" formControlName="schedule_time" />
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
            </div>
        </form>
    </div>
</main>