.page-container{
    [fxLayout= "row"]{
        margin: 15px 0 0 0;
    }
}

.save-button{
    padding-bottom: 15px;
    padding-left: 17px;

}

.space{
    margin-top: 11px;

}

.filed-list{
    padding: 10px;
    margin: 0 !important;
}