<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Email Service Provider</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="serviceProviderForm">
        <mat-form-field appearance="outline">
            <mat-label>Provider Type</mat-label>
            <mat-select formControlName="provider_type" (selectionChange)="onTypeChange($event)">
                <mat-option  [value]="provider.value" *ngFor="let provider of providerType">{{provider.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div  fxLayout="row" class="chekbox" *ngIf="serviceProviderForm.get('provider_type').value">

          <mat-checkbox class="example chekbox-position" formControlName="default" >By Default</mat-checkbox>
          <mat-checkbox class="example chekbox-position" formControlName="is_active" >Is Active</mat-checkbox>
        </div>

            <mat-form-field *ngIf="serviceProviderForm.get('provider_type').value" appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field *ngIf="serviceProviderForm.get('provider_type').value" appearance="outline">
              <mat-label>Email from</mat-label>
              <input matInput formControlName="from_email" />
            </mat-form-field>

        <ng-container [formGroup]="serviceProviderForm.get('credentials')" >

            <div [ngSwitch]="item.type" *ngFor="let item of fields" >
              <mat-form-field *ngSwitchCase="'text'"   appearance="outline">
                <mat-label>{{item.label}}</mat-label>
                <input matInput formControlName={{item.name}} />
              </mat-form-field>
            <div *ngSwitchCase="'boolean'"> 
              <mat-checkbox class="dynamic-checkbox" formControlName={{item.name}} >{{item.label}}</mat-checkbox>
          </div>
        </div>

      </ng-container>
        
    </form>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="loading || !serviceProviderForm.valid" (click)="onSave()">Save</button>
</div>










