<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Edit Store Location</h2>
<mat-dialog-content class="mat-typography">
    <!-- <p>Change status of {{data.products.length}} products:</p> -->
    <form [formGroup]="updateLocatorForm">
        <div fxLayout="column" >

            <mat-form-field appearance="outline">
                <mat-label>Store Title</mat-label>
                <input matInput name="description" formControlName="title"/>
                <mat-error *ngIf="updateLocatorForm.get('title').hasError('required')">This field is
                    required.</mat-error>
                    <mat-error *ngIf="updateLocatorForm.get('title').hasError('pattern')">Special characters can not be used.</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="is_active">Active</mat-checkbox>
        </div>
        <div fxLayout="row" >
            <mat-form-field appearance="outline" class="give-margin">
                <mat-label>Latitude</mat-label>
                <input matInput type="number" min="0" name="description" formControlName="latitude"/>
                <mat-error *ngIf="updateLocatorForm.get('latitude').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Longitute</mat-label>
                <input matInput type="number" min="0" name="description" formControlName="longitude"/>
                <mat-error *ngIf="updateLocatorForm.get('longitude').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" >
            <mat-form-field appearance="outline" class="give-margin">
                <mat-label>Address</mat-label>
                <input matInput name="description" formControlName="address"/>
                <mat-error *ngIf="updateLocatorForm.get('address').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" >

            <mat-form-field appearance="outline" class="give-margin">
                <mat-label>Province</mat-label>
                <input matInput name="description" formControlName="province"/>
                <mat-error *ngIf="updateLocatorForm.get('province').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Area</mat-label>
                <input matInput name="description" formControlName="area"/>
                <mat-error *ngIf="updateLocatorForm.get('area').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="give-margin">
                <mat-label>Zip code</mat-label>
                <input matInput type="number" name="description" formControlName="zip_code" />
                <mat-error *ngIf="updateLocatorForm.get('zip_code').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="give-margin">
                <mat-label>Contact Number</mat-label>
                <input matInput name="description" formControlName="contact" />
                <mat-error *ngIf="updateLocatorForm.get('contact').hasError('required')">This field is
                    required.</mat-error>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!updateLocatorForm.valid || loading" (click)="onSubmit()">Save</button>
</div>
