.page-container{
    [fxLayout= "row"]{
        margin: 10px 0 0 0;
    }
}


.setting-form{
    padding-top: 10px;
}

.save-button{
    padding-bottom: 15px;
    padding-right: 15px;
}

.message-row{
    padding-top: 10px;
}