<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-icon-button aria-label="Go back" class="header-back-arrow"
                [routerLink]="['/',URLS.country, this.countryID]">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1> Cities of {{country_name}}</h1>
        </div>
        <!-- <h1>
            <button mat-icon-button aria-label="Go back" class="header-back-arrow"
                [routerLink]="['/',URLS.country, this.countryID]">
                <mat-icon>arrow_back</mat-icon>
            </button>
            Cities of {{country_name}}
        </h1> -->

        <div class="header-actions">
            <a (click)="onCreate()" mat-flat-button color="primary">Create new</a>
        </div>
    </div>

    <div class="page-container">
        <mat-card class="table-wrapper-card">
            <datatable [data]="city" [columns]="columns" [pagination]="true" [count]="totalCount"
                [itemsPerPage]="pageSize" [rowActions]="rowActions" (page)="onPageChange($event)"
                (rowAction)="onRowAction($event)">
            </datatable>
        </mat-card>
    </div>
</main>