<main id="main">
  <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>
        SMS Template
    </h1>  
    <div class="header-actions">
          <a (click)="navigateToMessageConfiguration()" mat-stroked-button color="primary">Back</a>
          <a (click)="onCreate()" mat-flat-button color="primary">Create new</a>
      </div>
  </div>

  <div class="page-container">
      <mat-card class="table-wrapper-card">
          <datatable [data]="template_list"
          [columns]="columns"
          [rowActions]="rowActions"
           
          (page)="onPageChange($event)"
          (rowAction)="onRowAction($event)">
          </datatable>
      </mat-card>
  </div>
</main>