<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-icon-button aria-label="Go back" class="header-back-arrow"
                [routerLink]="['/',URLS.featuredApps]">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>Order Return</h1>
        </div>

    </div>

    <div class="page-container">
        <mat-card class="table-wrapper-card">
            <datatable [data]="orderList" [columns]="columns" [rowActions]="rowActions" (rowAction)="onRowAction($event)" [pagination]="true" [count]="totalCount"
                [itemsPerPage]="pageSize" (page)="onPageChange($event)" (cellClick)="onCellClick($event)">
            </datatable>
        </mat-card>
    </div>
</main>