.margin-bottom{
    margin: 0 0 5px !important;
    font-size: 17px;

    // font-weight: 600;
}

.font-size{
    font-size: 13px;
}

.card-bottom-space{
    margin-bottom: 50px;
}
.color{
    color: peru !important;
}